@keyframes fadeInUp {
  from {
    opacity: var(--animOpacityStart);
    transform: translateY(var(--animOffsetBottomStart));
  }
  to {
    opacity: var(--animOpacityEnd);
    transform: translateY(var(--animOffsetBottomEnd));
  }
}

@keyframes fadeInRight {
  from {
    opacity: var(--animOpacityStart);
    transform: translateX(var(--animOffsetRightStart));
  }
  to {
    opacity: var(--animOpacityEnd);
    transform: translateX(var(--animOffsetRightEnd));
  }
}

@keyframes width100perc {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}