@keyframes fadeInUp {
  from {
    opacity: var(--animOpacityStart);
    transform: translateY(var(--animOffsetBottomStart));
  }
  to {
    opacity: var(--animOpacityEnd);
    transform: translateY(var(--animOffsetBottomEnd));
  }
}

@keyframes fadeInRight {
  from {
    opacity: var(--animOpacityStart);
    transform: translateX(var(--animOffsetRightStart));
  }
  to {
    opacity: var(--animOpacityEnd);
    transform: translateX(var(--animOffsetRightEnd));
  }
}

@keyframes fadeInLeft {
  from {
    opacity: var(--animOpacityStart);
    transform: translateX(var(--animOffsetLeftStart));
  }
  to {
    opacity: var(--animOpacityEnd);
    transform: translateX(var(--animOffsetLeftEnd));
  }
}

@keyframes zoomInCounterPageRules {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  40% {
    opacity: 0.4;
    transform: scale(0.5);
  }
  60% {
    opacity: 0.6;
    transform: scale(1);
  }
  80% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInDescrPageRules {
  0% {
    opacity: 0;
    transform: translateX(1.2rem);
  }
  70% {
    opacity: 0.4;
    transform: translateX(0.3rem);
  }
  90% {
    opacity: 0.6;
    transform: translateX(0.1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showBtnPageRules {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes underlineLinksPageHeader {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes removeUnderliningLinksPageHeader {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes showFormFieldGame {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}